[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "==2.4.1"
pvlib = "==0.9.1"
pythermalcomfort = "*"
dash-bootstrap-components = "*"
dash-extensions = "*"
flask-caching = "==1.10.1"
dash-mantine-components = "*"

# Dash 2.4.1 uses `before_first_request`,
# which is removed after Flask 2.2.5:
#   https://flask.palletsprojects.com/en/2.3.x/changes/#version-2-3-0
# This is fixed in recent releases of Dash,
#   https://github.com/plotly/dash/issues/2177
# so once Dash is updated, we can remove Flask as explicit dependency.
flask = "2.2.5"

[dev-packages]
cleanpy = "*"
pytest = "*"
bump2version = "*"

[requires]
python_version = "3.10"
